<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>status</key>
	<true/>
	<key>nodeName</key>
	<string>root</string>
	<key>childNodes</key>
	<array>
		<dict>
			<key>nodeName</key>
			<string>主诉</string>
			<key>childNodes</key>
			<array/>
		</dict>
		<dict>
			<key>nodeName</key>
			<string>现病史</string>
			<key>childNodes</key>
			<array/>
		</dict>
		<dict>
			<key>nodeName</key>
			<string>既往史</string>
			<key>childNodes</key>
			<array/>
		</dict>
		<dict>
			<key>nodeName</key>
			<string>系统回顾</string>
			<key>childNodes</key>
			<array/>
		</dict>
		<dict>
			<key>nodeName</key>
			<string>家族史</string>
			<key>childNodes</key>
			<array/>
		</dict>
		<dict>
			<key>nodeName</key>
			<string>月经史</string>
			<key>childNodes</key>
			<array/>
		</dict>
		<dict>
			<key>nodeName</key>
			<string>生育史</string>
			<key>childNodes</key>
			<array/>
		</dict>
		<dict>
			<key>nodeName</key>
			<string>入院诊断</string>
			<key>childNodes</key>
			<array/>
		</dict>
		<dict>
			<key>nodeName</key>
			<string>初步诊断</string>
			<key>childNodes</key>
			<array/>
		</dict>
		<dict>
			<key>nodeName</key>
			<string>补充诊断</string>
			<key>childNodes</key>
			<array/>
		</dict>
		<dict>
			<key>nodeName</key>
			<string>专科检查</string>
			<key>childNodes</key>
			<array/>
		</dict>
		<dict>
			<key>nodeName</key>
			<string>辅助检查</string>
			<key>childNodes</key>
			<array/>
		</dict>
		<dict>
			<key>status</key>
			<string>YES</string>
			<key>nodeName</key>
			<string>个人史</string>
			<key>childNodes</key>
			<array>
				<dict>
					<key>nodeName</key>
					<string>儿童个人史</string>
					<key>childNames</key>
					<array/>
				</dict>
				<dict>
					<key>nodeName</key>
					<string>成人个人史</string>
					<key>childNames</key>
					<array/>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
