<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>nodeName</key>
	<string>root</string>
	<key>childNodes</key>
	<array>
		<dict>
			<key>nodeName</key>
			<string>主诉</string>
			<key>childNodes</key>
			<array>
				<dict>
					<key>nodeName</key>
					<string>主诉1</string>
					<key>childNodes</key>
					<array>
						<dict>
							<key>nodeName</key>
							<string>主诉1_1</string>
							<key>childNodes</key>
							<array>
								<dict>
									<key>nodeName</key>
									<string>分泌物</string>
									<key>childNodes</key>
									<array>
										<dict>
											<key>nodeName</key>
											<string>有</string>
											<key>childNodes</key>
											<array>
												<dict>
													<key>nodeName</key>
													<string>质地</string>
													<key>childNodes</key>
													<array>
														<dict>
															<key>childNodes</key>
															<array/>
															<key>nodeName</key>
															<string>清稀</string>
														</dict>
														<dict>
															<key>childNodes</key>
															<array/>
															<key>nodeName</key>
															<string>浑浊</string>
														</dict>
													</array>
												</dict>
											</array>
										</dict>
										<dict>
											<key>nodeName</key>
											<string>无</string>
											<key>childNodes</key>
											<array/>
										</dict>
									</array>
								</dict>
								<dict>
									<key>nodeName</key>
									<string>体位</string>
									<key>childNodes</key>
									<array>
										<dict>
											<key>nodeName</key>
											<string>膝胸位</string>
											<key>childNodes</key>
											<array/>
										</dict>
										<dict>
											<key>nodeName</key>
											<string>蹲位</string>
											<key>childNodes</key>
											<array/>
										</dict>
									</array>
								</dict>
								<dict>
									<key>nodeName</key>
									<string>大小</string>
									<key>childNodes</key>
									<array>
										<dict>
											<key>nodeName</key>
											<string>如鸽子卵大小</string>
											<key>childNodes</key>
											<array/>
										</dict>
										<dict>
											<key>nodeName</key>
											<string>鸡蛋</string>
											<key>childNodes</key>
											<array>
												<dict>
													<key>nodeName</key>
													<string>质地</string>
													<key>childNodes</key>
													<array>
														<dict>
															<key>childNodes</key>
															<array/>
															<key>nodeName</key>
															<string>清稀</string>
														</dict>
													</array>
												</dict>
											</array>
										</dict>
										<dict>
											<key>nodeName</key>
											<string>小拇指肚</string>
											<key>childNodes</key>
											<array>
												<dict>
													<key>nodeName</key>
													<string>质地</string>
													<key>childNodes</key>
													<array>
														<dict>
															<key>childNodes</key>
															<array/>
															<key>nodeName</key>
															<string>清稀</string>
														</dict>
													</array>
												</dict>
											</array>
										</dict>
									</array>
								</dict>
								<dict>
									<key>nodeName</key>
									<string>质地</string>
									<key>childNodes</key>
									<array>
										<dict>
											<key>nodeName</key>
											<string>软</string>
											<key>childNodes</key>
											<array/>
										</dict>
										<dict>
											<key>nodeName</key>
											<string>硬</string>
											<key>childNodes</key>
											<array/>
										</dict>
										<dict>
											<key>nodeName</key>
											<string>韧</string>
											<key>childNodes</key>
											<array/>
										</dict>
									</array>
								</dict>
							</array>
						</dict>
						<dict>
							<key>nodeName</key>
							<string>主诉1_2</string>
							<key>childNodes</key>
							<array/>
						</dict>
						<dict>
							<key>nodeName</key>
							<string>主诉1_3</string>
							<key>childNodes</key>
							<array/>
						</dict>
						<dict>
							<key>nodeName</key>
							<string>主诉1_4</string>
							<key>childNodes</key>
							<array/>
						</dict>
						<dict>
							<key>nodeName</key>
							<string>主诉1_5</string>
							<key>childNodes</key>
							<array/>
						</dict>
						<dict>
							<key>nodeName</key>
							<string>时间</string>
							<key>childNodes</key>
							<array/>
						</dict>
					</array>
				</dict>
				<dict>
					<key>nodeName</key>
					<string>主诉2</string>
					<key>childNodes</key>
					<array>
						<dict>
							<key>nodeName</key>
							<string>主诉2_1</string>
							<key>childNodes</key>
							<array/>
						</dict>
						<dict>
							<key>nodeName</key>
							<string>主诉2_2</string>
							<key>childNodes</key>
							<array/>
						</dict>
					</array>
				</dict>
				<dict>
					<key>nodeName</key>
					<string>主诉3</string>
					<key>childNodes</key>
					<array>
						<dict>
							<key>nodeName</key>
							<string>主诉3_1</string>
							<key>childNodes</key>
							<array/>
						</dict>
						<dict>
							<key>nodeName</key>
							<string>主诉3_2</string>
							<key>childNodes</key>
							<array/>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>nodeName</key>
			<string>现病史</string>
			<key>childNodes</key>
			<array>
				<dict>
					<key>nodeName</key>
					<string>现病史1</string>
					<key>childNodes</key>
					<array>
						<dict>
							<key>nodeName</key>
							<string>现病史1_1</string>
							<key>childNodes</key>
							<array>
								<dict>
									<key>nodeName</key>
									<string>分泌物</string>
									<key>childNodes</key>
									<array>
										<dict>
											<key>nodeName</key>
											<string>有</string>
											<key>childNodes</key>
											<array>
												<dict>
													<key>nodeName</key>
													<string>质地</string>
													<key>childNodes</key>
													<array>
														<dict>
															<key>childNodes</key>
															<array/>
															<key>nodeName</key>
															<string>清稀</string>
														</dict>
													</array>
												</dict>
											</array>
										</dict>
									</array>
								</dict>
							</array>
						</dict>
						<dict>
							<key>nodeName</key>
							<string>现病史1_2</string>
							<key>childNodes</key>
							<array/>
						</dict>
						<dict>
							<key>nodeName</key>
							<string>现病史1_3</string>
							<key>childNodes</key>
							<array/>
						</dict>
						<dict>
							<key>nodeName</key>
							<string>现病史1_4</string>
							<key>childNodes</key>
							<array/>
						</dict>
						<dict>
							<key>nodeName</key>
							<string>现病史1_5</string>
							<key>childNodes</key>
							<array/>
						</dict>
					</array>
				</dict>
				<dict>
					<key>nodeName</key>
					<string>现病史2</string>
					<key>childNodes</key>
					<array>
						<dict>
							<key>nodeName</key>
							<string>现病史2_1</string>
							<key>childNodes</key>
							<array/>
						</dict>
						<dict>
							<key>nodeName</key>
							<string>现病史2_2</string>
							<key>childNodes</key>
							<array/>
						</dict>
					</array>
				</dict>
				<dict>
					<key>nodeName</key>
					<string>现病史3</string>
					<key>childNodes</key>
					<array>
						<dict>
							<key>nodeName</key>
							<string>现病史3_1</string>
							<key>childNodes</key>
							<array/>
						</dict>
						<dict>
							<key>nodeName</key>
							<string>现病史3_2</string>
							<key>childNodes</key>
							<array/>
						</dict>
					</array>
				</dict>
				<dict>
					<key>nodeName</key>
					<string>现病史4</string>
					<key>childNodes</key>
					<array>
						<dict>
							<key>nodeName</key>
							<string>现病史4_1</string>
							<key>childNodes</key>
							<array/>
						</dict>
						<dict>
							<key>nodeName</key>
							<string>现病史4_2</string>
							<key>childNodes</key>
							<array/>
						</dict>
						<dict>
							<key>nodeName</key>
							<string>show3D</string>
							<key>childNodes</key>
							<array/>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>nodeName</key>
			<string>既往史</string>
			<key>childNodes</key>
			<array>
				<dict>
					<key>nodeName</key>
					<string>既往史1</string>
					<key>childNodes</key>
					<array>
						<dict>
							<key>nodeName</key>
							<string>既往史1_1</string>
							<key>childNodes</key>
							<array>
								<dict>
									<key>nodeName</key>
									<string>分泌物</string>
									<key>childNodes</key>
									<array>
										<dict>
											<key>nodeName</key>
											<string>有</string>
											<key>childNodes</key>
											<array>
												<dict>
													<key>nodeName</key>
													<string>质地</string>
													<key>childNodes</key>
													<array>
														<dict>
															<key>childNodes</key>
															<array/>
															<key>nodeName</key>
															<string>清稀</string>
														</dict>
													</array>
												</dict>
											</array>
										</dict>
									</array>
								</dict>
							</array>
						</dict>
						<dict>
							<key>nodeName</key>
							<string>现病史1_2</string>
							<key>childNodes</key>
							<array/>
						</dict>
						<dict>
							<key>nodeName</key>
							<string>现病史1_3</string>
							<key>childNodes</key>
							<array/>
						</dict>
						<dict>
							<key>nodeName</key>
							<string>现病史1_4</string>
							<key>childNodes</key>
							<array/>
						</dict>
						<dict>
							<key>nodeName</key>
							<string>既往史1_5</string>
							<key>childNodes</key>
							<array/>
						</dict>
					</array>
				</dict>
				<dict>
					<key>nodeName</key>
					<string>既往史2</string>
					<key>childNodes</key>
					<array>
						<dict>
							<key>nodeName</key>
							<string>现病史2_1</string>
							<key>childNodes</key>
							<array/>
						</dict>
						<dict>
							<key>nodeName</key>
							<string>现病史2_2</string>
							<key>childNodes</key>
							<array/>
						</dict>
					</array>
				</dict>
				<dict>
					<key>nodeName</key>
					<string>既往史3</string>
					<key>childNodes</key>
					<array>
						<dict>
							<key>nodeName</key>
							<string>现病史3_1</string>
							<key>childNodes</key>
							<array/>
						</dict>
						<dict>
							<key>nodeName</key>
							<string>现病史3_2</string>
							<key>childNodes</key>
							<array/>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>nodeName</key>
			<string>家族史</string>
			<key>childNodes</key>
			<array/>
		</dict>
		<dict>
			<key>nodeName</key>
			<string>个人史</string>
			<key>childNodes</key>
			<array>
				<dict>
					<key>nodeName</key>
					<string>儿科个人史</string>
					<key>childNodes</key>
					<array/>
				</dict>
				<dict>
					<key>nodeName</key>
					<string>成人个人史</string>
					<key>childNodes</key>
					<array/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>nodeName</key>
			<string>月经史</string>
			<key>childNodes</key>
			<array/>
		</dict>
		<dict>
			<key>nodeName</key>
			<string>婚育史</string>
			<key>childNodes</key>
			<array/>
		</dict>
		<dict>
			<key>nodeName</key>
			<string>体格检查</string>
			<key>childNodes</key>
			<array/>
		</dict>
		<dict>
			<key>nodeName</key>
			<string>专科检查</string>
			<key>childNodes</key>
			<array>
				<dict>
					<key>nodeName</key>
					<string>妇科</string>
					<key>childNodes</key>
					<array/>
				</dict>
				<dict>
					<key>nodeName</key>
					<string>儿科</string>
					<key>childNodes</key>
					<array/>
				</dict>
				<dict>
					<key>nodeName</key>
					<string>产科</string>
					<key>childNodes</key>
					<array/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>nodeName</key>
			<string>辅助检查</string>
			<key>childNodes</key>
			<array/>
		</dict>
		<dict>
			<key>nodeName</key>
			<string>初步诊断</string>
			<key>childNodes</key>
			<array/>
		</dict>
		<dict>
			<key>nodeName</key>
			<string>入院诊断</string>
			<key>childNodes</key>
			<array/>
		</dict>
		<dict>
			<key>nodeName</key>
			<string>补充诊断</string>
			<key>childNodes</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
