<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>nodeName</key>
	<string>模板</string>
	<key>childNode</key>
	<array>
		<dict>
			<key>nodeName</key>
			<string>医嘱</string>
			<key>childNode</key>
			<array>
				<dict>
					<key>nodeName</key>
					<string>node1_1_1</string>
					<key>childNode</key>
					<array>
						<dict>
							<key>nodeName</key>
							<string>node1_1_1_1</string>
							<key>childNode</key>
							<array/>
						</dict>
						<dict>
							<key>nodeName</key>
							<string>node1_1_1_2</string>
							<key>childNode</key>
							<array/>
						</dict>
						<dict>
							<key>nodeName</key>
							<string>node1_1_1_3</string>
							<key>childNode</key>
							<array/>
						</dict>
						<dict>
							<key>nodeName</key>
							<string>node1_1_1_4</string>
							<key>childNode</key>
							<array/>
						</dict>
						<dict>
							<key>nodeName</key>
							<string>node1_1_1_5</string>
							<key>childNode</key>
							<array/>
						</dict>
						<dict>
							<key>nodeName</key>
							<string>node1_1_1_6</string>
							<key>childNode</key>
							<array/>
						</dict>
						<dict>
							<key>nodeName</key>
							<string>node1_1_1_7</string>
							<key>childNode</key>
							<array/>
						</dict>
						<dict>
							<key>nodeName</key>
							<string>node1_1_1_8</string>
							<key>childNode</key>
							<array/>
						</dict>
						<dict>
							<key>nodeName</key>
							<string>node1_1_1_9</string>
							<key>childNode</key>
							<array/>
						</dict>
					</array>
				</dict>
				<dict>
					<key>nodeName</key>
					<string>node1_1_2</string>
					<key>childNode</key>
					<array/>
				</dict>
				<dict>
					<key>nodeName</key>
					<string>node1_1_3</string>
					<key>childNode</key>
					<array/>
				</dict>
				<dict>
					<key>nodeName</key>
					<string>node1_1_4</string>
					<key>childNode</key>
					<array/>
				</dict>
				<dict>
					<key>nodeName</key>
					<string>node1_1_5</string>
					<key>childNode</key>
					<array/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>nodeName</key>
			<string>病历</string>
			<key>childNode</key>
			<array>
				<dict>
					<key>nodeName</key>
					<string>门诊病历</string>
					<key>childNode</key>
					<array/>
				</dict>
				<dict>
					<key>nodeName</key>
					<string>急诊病历</string>
					<key>childNode</key>
					<array/>
				</dict>
				<dict>
					<key>nodeName</key>
					<string>住院病历</string>
					<key>childNode</key>
					<array>
						<dict>
							<key>nodeName</key>
							<string>入院记录</string>
							<key>childNode</key>
							<array>
								<dict>
									<key>nodeName</key>
									<string>主诉</string>
									<key>nodeIndex</key>
									<integer>0</integer>
									<key>childNode</key>
									<array/>
								</dict>
								<dict>
									<key>nodeName</key>
									<string>现病史</string>
									<key>nodeIndex</key>
									<integer>1</integer>
									<key>childNode</key>
									<array>
										<dict>
											<key>nodeName</key>
											<string>发病情况</string>
											<key>childNode</key>
											<array/>
										</dict>
										<dict>
											<key>nodeName</key>
											<string>主要症状情况</string>
											<key>childNode</key>
											<array/>
										</dict>
										<dict>
											<key>nodeName</key>
											<string>发病后诊疗情况</string>
											<key>childNode</key>
											<array/>
										</dict>
										<dict>
											<key>nodeName</key>
											<string>发病后一般情况变化</string>
											<key>childNode</key>
											<array/>
										</dict>
									</array>
								</dict>
								<dict>
									<key>nodeName</key>
									<string>个人史</string>
									<key>nodeIndex</key>
									<integer>2</integer>
									<key>childNode</key>
									<array/>
								</dict>
								<dict>
									<key>nodeName</key>
									<string>既往史</string>
									<key>nodeIndex</key>
									<integer>3</integer>
									<key>childNode</key>
									<array/>
								</dict>
								<dict>
									<key>nodeName</key>
									<string>家族史</string>
									<key>nodeIndex</key>
									<integer>4</integer>
									<key>childNode</key>
									<array/>
								</dict>
								<dict>
									<key>nodeName</key>
									<string>婚育史</string>
									<key>nodeIndex</key>
									<integer>5</integer>
									<key>childNode</key>
									<array/>
								</dict>
								<dict>
									<key>nodeName</key>
									<string>体格检查</string>
									<key>nodeIndex</key>
									<integer>6</integer>
									<key>childNode</key>
									<array/>
								</dict>
								<dict>
									<key>nodeName</key>
									<string>系统回顾</string>
									<key>nodeIndex</key>
									<integer>7</integer>
									<key>childNode</key>
									<array/>
								</dict>
								<dict>
									<key>nodeName</key>
									<string>专科检查</string>
									<key>nodeIndex</key>
									<integer>8</integer>
									<key>childNode</key>
									<array/>
								</dict>
								<dict>
									<key>nodeName</key>
									<string>初步诊断</string>
									<key>nodeIndex</key>
									<integer>9</integer>
									<key>childNode</key>
									<array/>
								</dict>
								<dict>
									<key>nodeName</key>
									<string>入院诊断</string>
									<key>nodeIndex</key>
									<integer>10</integer>
									<key>childNode</key>
									<array/>
								</dict>
								<dict>
									<key>nodeName</key>
									<string>补充诊断</string>
									<key>nodeIndex</key>
									<integer>11</integer>
									<key>childNode</key>
									<array/>
								</dict>
							</array>
						</dict>
						<dict>
							<key>nodeName</key>
							<string>首次病程记录</string>
							<key>childNode</key>
							<array/>
						</dict>
						<dict>
							<key>nodeName</key>
							<string>上级医师查房记录</string>
							<key>childNode</key>
							<array/>
						</dict>
						<dict>
							<key>nodeName</key>
							<string>手术相关</string>
							<key>childNode</key>
							<array/>
						</dict>
						<dict>
							<key>nodeName</key>
							<string>病历讨论</string>
							<key>childNode</key>
							<array/>
						</dict>
						<dict>
							<key>nodeName</key>
							<string>出院小结</string>
							<key>childNode</key>
							<array/>
						</dict>
						<dict>
							<key>nodeName</key>
							<string>同意书</string>
							<key>childNode</key>
							<array/>
						</dict>
						<dict>
							<key>nodeName</key>
							<string>治疗处置记录</string>
							<key>childNode</key>
							<array/>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>nodeName</key>
			<string>收藏夹</string>
			<key>childNode</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
