<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dName</key>
	<string>姓名</string>
	<key>dID</key>
	<string>编号</string>
	<key>dProfessionalTitle</key>
	<string>职称</string>
	<key>dept</key>
	<string>部门</string>
	<key>medicalTeam</key>
	<string>医疗组</string>
	<key>patients</key>
	<array>
		<dict>
			<key>pName</key>
			<string>姓名0</string>
			<key>pID</key>
			<string>ID0</string>
			<key>residentDoctorName</key>
			<string>主治医生0</string>
			<key>patientState</key>
			<string>已出院</string>
		</dict>
		<dict>
			<key>pName</key>
			<string>姓名1</string>
			<key>pID</key>
			<string>ID1</string>
			<key>residentDoctorName</key>
			<string>主治医生1</string>
			<key>patientState</key>
			<string>未出院</string>
		</dict>
		<dict>
			<key>pName</key>
			<string>姓名2</string>
			<key>pID</key>
			<string>ID2</string>
			<key>residentDoctorName</key>
			<string>主治医生2</string>
			<key>patientState</key>
			<string>未出院</string>
		</dict>
		<dict>
			<key>pName</key>
			<string>姓名3</string>
			<key>pID</key>
			<string>ID3</string>
			<key>residentDoctorName</key>
			<string>主治医生3</string>
			<key>patientState</key>
			<string>未出院</string>
		</dict>
		<dict>
			<key>pName</key>
			<string>姓名4</string>
			<key>pID</key>
			<string>ID4</string>
			<key>residentDoctorName</key>
			<string>主治医生4</string>
			<key>patientState</key>
			<string>未出院</string>
		</dict>
		<dict>
			<key>pName</key>
			<string>姓名5</string>
			<key>pID</key>
			<string>ID5</string>
			<key>residentDoctorName</key>
			<string>主治医生5</string>
			<key>patientState</key>
			<string>未出院</string>
		</dict>
	</array>
</dict>
</plist>
